@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body{
		background: url(https://img.freepik.com/fotos-premium/mesa-textura-madera-desenfoque-bokeh-oro-claro-cafe_254791-753.jpg);
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.6);
		z-index: -1;
		top: 0;left: 0;
	}
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}
	.container .menu{
		float: right;
		line-height: 100px;

	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: rgb(255, 255, 255);
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 0px;
		position: relative;


	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}
	
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	
	.contenedor{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			
			
			
	}
	.contenedor figure{
		   position:relative;
			height: 250px;
			cursor: pointer;
			width: 350 px;
			overflow: hidden;
			border-radius: 500px;
			box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
			
			
	}
	.contenedor figure img{
			width: 100%;
			height: 100%;
			transition: all 400ms ease-out;
			will-change: transform;
			
			
	}
	.contenedor figure .capa{
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,103,123,0.7);
			transition: all 400ms ease-out;
			opacity: 0;
			visibility: hidden;
			text-align: center;
		    
	}
	.contenedor figure:hover > .capa {
			opacity: 1;
			visibility: visible;
			
	}
	.contenedor figure:hover > .capa h3{
			margin-top: 70px;
			margin-bottom: 15px;
			
			
	}
	.contenedor figure:hover > img{
			transform: scale(1.3);
			
	}
	.contenedor figure .capa h3{
			color: #fff;
			font-weight: 400;
			margin-bottom: 120px;
			transition: all 400ms ease-out;
			 margin-top: 30px;
			 
			 
	}
	.contenedor figure .capa p{
			color: #fff;
			font-size: 15px;
			line-height: 1.5;
			width: 100%;
			max-width: 220px;
			margin: auto;
			
	}
    .text-focus-in {
        animation: text-focus-in  3s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
        justify-content: center;
        text-align: center;
        padding: 10px;
        margin: 120px;


    }
    @keyframes text-focus-in {
        0% {
            filter: blur(12px);
            opacity: 0;
        }
        100%{
            -webkit-filter: blur(0px);
                    filter: blur(0px);
            opacity: 1;
        }
    }    
    




/*index*/








.nosotros p {
    color: rgb(255, 255, 255);
    padding: 25px;
    margin: 25px;
    font-size: 20px;
    font-family: serif;
	text-align: center;
	vertical-align: middle;

}







/*nosotros*/







.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}






/*procesos*/








h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: serif;
}

.container-img{
    width: 100%;
    max-width: 990px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 10px;
}
.container-img .box-img figure{
    width: 100%;
    height: 100%;
}
.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(4){
    grid-row-start: span 2;
}
@media screen and (max-width:800px){
    .container-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }
    .container-img .box-img:nth-child(1){
        grid-column-start: span 1;
    }
}
@media screen and (max-width:500px){
    .container-img{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .container-img .box-img img{
        height: 200px;
    }





/*galeria*/






}
h2 {
    color: hwb(0 100% 0%);
    font-family: serif;
}
.sugerencia {
    color:#ffffff;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: rgb(112, 86, 36);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

@media (max-width: 480px){
    .container-form{
		width: 100%;

		margin: auto;
		display: flex;

		grid-gap: 50px;
		margin-top: 90px;
	}
	}






/*contacto*/







.cultivo{
	margin: 10px;
	padding: 80px;
	color: #fff;
}
.color{
	color: #fff;
}


/*cultivo*/



.parrafo {
	justify-content: center;
	text-align: center;
	margin: 50px;
	padding: 150px;
}
.parrafo p{
	font-size: 30px;
	color: rgb(255, 255, 255);
}



/*comercio*/


.posicion{
	margin: 10px;
	padding: 70px;
	color: #fff;
}
.color{
	color: #fff;
}



/*pasion por el cafe*/